
{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- side bar er and main content thakbe section,contsiner and riw ai 3 ta jinish er vitor a -->

        <section class="section wb">
            <div class="container">
                <div class="row">


                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
                             <hr class="invis">

                                <div class="row">
                                    <div class="col-lg-10 offset-lg-1">
                                        <div class="banner-spot clearfix">
                                            <div class="banner-img">
                                                <img src="{% static 'upload/banner_05.jpg' %}" alt="" class="img-fluid">
                                            </div><!-- end banner-img -->
                                        </div><!-- end banner -->
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <hr class="invis">



                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">


                             {% for post in latest %}
                                <div class="blog-box row">

                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="garden-single.html" title="">
                                                <img src="{{ post.thumbnail.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                     {% for cat in post.categories.all %}
                                        <span class="bg-aqua"><a href="#" title="">{{ cat.title }}</a></span>
                                        {% endfor %}

                                        <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                                        <p>{{ post.overview }}</p>
                                        <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> {{ post.view_count }}</a></small>
                                        <small><a  title="">{{post.timestamp|timesince}} ago</a></small>
                                        <small><a href="#" title="">{{ post.author.user.username }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            {% endfor %}
                                <hr class="invis">









<!-- linux recen post --><!-- linux recen post --><!-- linux recen post --><!-- linux recen post --><!-- linux recen post -->
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
                              {% for obj1 in linux_latest %}
                                <div class="blog-box row">

                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="garden-single.html" title="">
                                                <img src="{{ obj1.thumbnail.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                      {% for cat1 in obj1.linuxcategories.all %}
                                        <span class="bg-aqua"><a href="#" title="">{{ cat1.title }}</a></span>
                                        {% endfor %}

                                        <h4><a href="{{ obj1.get_absolute_url }}" title="">{{ obj1.title }}</a></h4>
                                        <p>{{ obj1.overview }}</p>
                                        <small><a href="#" title=""><i class="fa fa-eye"></i> {{ obj1.view_count }}</a></small>
                                        <small><a  title="">{{obj1.timestamp|timesince}} ago</a></small>
                                        <small><a href="#" title="">{{ obj1.author.user.username }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            {% endfor %}
                                <hr class="invis">

                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

<!-- linux recen post --><!-- linux recen post --><!-- linux recen post --><!-- linux recen post --><!-- linux recen post -->




<!-- Django post --><!-- Django post  --><!-- Django post  --><!-- Django post --><!-- Django post -->
                        <div class="page-wrapper">
                            <div class="blog-list clearfix">
                              {% for obj1 in dj_recent %}
                                <div class="blog-box row">

                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="garden-single.html" title="">
                                                <img src="{{ obj1.thumbnail.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                      {% for cat1 in obj1.linuxcategories.all %}
                                        <span class="bg-aqua"><a href="#" title="">{{ cat1.title }}</a></span>
                                        {% endfor %}

                                        <h4><a href="{{ obj1.get_absolute_url }}" title="">{{ obj1.title }}</a></h4>
                                        <p>{{ obj1.overview }}</p>
                                        <small><a href="#" title=""><i class="fa fa-eye"></i> {{ obj1.view_count }}</a></small>
                                        <small><a  title="">{{obj1.timestamp|timesince}} ago</a></small>
                                        <small><a href="#" title="">{{ obj1.author.user.username }}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            {% endfor %}
                                <hr class="invis">

                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

<!-- Django post --><!-- Django post --><!-- Django post  --><!-- Django post --><!-- Django post  -->






                    </div><!-- end col -->







<!-- start sidebr -->

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                          <hr class="invis">
                            <div class="widget">
                                <h2 class="widget-title">Search</h2>
                                <form action="{% url 'search' %}" class="form-inline search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search on the site">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- end widget -->
<!-- Search -->
                            <div class="widget">
                                <h2 class="widget-title">Advertising</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{% static 'upload/banner_04.jpg' %}" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

<!-- search -->


                            <div class="widget">
                                <h2 class="widget-title">Recent Python Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                     {% for post in latest %}
                                        <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ post.thumbnail.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ post.title }}</h5>
                                                <small><i class="fa fa-eye"></i> {{ post.view_count }}</small> | 
                                                <small>{{post.timestamp|timesince}} ago</small>
                                                
                                            </div>
                                        </a>

                                        {% endfor %}
  
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

<!--linux post recent-->
                           <div class="widget">
                                <h2 class="widget-title">Recent Linux Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                      {% for post in linux_latest %}
                                        <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ post.thumbnail.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ post.title }}</h5>
                                                <small><i class="fa fa-eye"></i> {{ post.view_count }}</small> | 
                                                <small>{{post.timestamp|timesince}} ago</small>
                                                
                                            </div>
                                        </a>

                                        {% endfor %}
  
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->


<!--linux post recent-->

<!--django develop post recent-->
                            <div class="widget">
                                <h2 class="widget-title">Recent Django Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                     {% for post in dj_recent %}
                                        <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ post.thumbnail.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ post.title }}</h5>
                                                <small><i class="fa fa-eye"></i> {{ post.view_count }}</small> | 
                                                <small>{{post.timestamp|timesince}} ago</small>
                                                
                                            </div>
                                        </a>

                                        {% endfor %}
  
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
<!--django develop post recent-->






                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                <div class="link-widget">
                                    <ul>
                                     {% for cat in categorey_count %}
                                        <li><a href="{% url "category_blog" cat.categories__id %}">{{ cat.categories__title }} <span>({{ cat.categories__title__count }})</span>

                                        </a>
                                        
                                        </li>
                                 
                                         {%endfor %}
                                    </ul>
                                     <ul>
                                     {% for cat in linuxcategorey_count %}
                                        <li><a href="{% url "linuxcategorey_linuxpost" cat.linuxcategories__id %}">{{ cat.linuxcategories__title }}<span>({{ cat.linuxcategories__title__count }})</span>

                                        </a>
                                        
                                        </li>
                                 
                                         {%endfor %}
                                    </ul>

                                    <ul>
                                     {% for cat in developmentcategorey_count %}
                                        <li><a href="{% url "developmentcategorey_django" cat.development_categories__id %}">{{ cat.development_categories__title }}<span>({{ cat.development_categories__title__count }})</span>

                                        </a>
                                        
                                        </li>
                                 
                                         {%endfor %}
                                    </ul>
                                </div><!-- end link-widget -->
                           
                                

                           
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->


  <!-- end sidebsr-->







                </div><!-- end row -->
            </div><!-- end container -->
        </section>



{% endblock %}